# Q1. 남녀 파트너 정해주기 프로그램(zip) 
같은 수의 남녀 모임에서 파트너를 랜덤하게 정해주는 프로그램을 만들어 보세요

male = ['철수','갑돌','로미오','이몽룡','온돌']

female = ['미미','갑순','줄리엣','성춘향','평강']
zip 함수 사용

In [1]:
import random
male = ['철수','갑돌','로미오','이몽룡','온돌']
female = ['미미','갑순','줄리엣','성춘향','평강']
random.shuffle(male)
random.shuffle(female)
couples = zip(male, female)
for i, couple in enumerate(couples):
    print(f'커플{i+1}:{couple[0]},{couple[1]}')

커플1:이몽룡,미미
커플2:로미오,줄리엣
커플3:갑돌,성춘향
커플4:온돌,평강
커플5:철수,갑순

# Q2. 사용자가 입력한 횟수만큼 로또 번호를 출력하는 프로그램을 작성하세요.
중복불가 45개 중에 6개

In [2]:
a = int(input('자동 몇 줄 추출할거임?(숫자입력)'))
for i in range(a):
    print(random.sample(range(1,46), 6))

자동 몇 줄 추출할거임?(숫자입력)1
[18, 6, 7, 9, 22, 41]

## 도전  
발표자를 원하는 수 만큼 랜덤하게 출력하는 프로그램을 작성하세요.

In [3]:
cakd7 = ['박영권','김현지','김덕현','변서연','한지웅','양주희','이호원','정지은','이정현A','이상윤','이명진','조승현','강유한','김영선','최애림','김민섭','박혜린','이정현B','윤정준','김진형','정승기','진청아','신창훈','김병석','박세희'] 
len(cakd7)

25

In [4]:
a = int(input('발표자 몇 명 뽑을까요?'))
b = random.sample(cakd7,a)
for i in range(a):
    print(f"{i+1}번 문제 : {b[i]}")

발표자 몇 명 뽑을까요?1
1번 문제 : 한지웅

# Q3. 입력받은 문자열의 각 문자를 그 다음 문자로 변경하여 출력하세요 abc ->bca

In [5]:
s = input("문자를 입력하세요")
s[1:] + s[0]

문자를 입력하세요123

'231'

In [6]:
#abc -> cab
text = input("문장을 입력하세요")
ret = ''
for i in range(len(text)):
    if i != len(text) :
        ret += text[i-1]
    else:
        ret += text[0]
print(ret)

문장을 입력하세요123
312

# Q4. url에서 호스트 도메인을 추출하여 출력하세요.
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

In [7]:
import re
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'
a = re.compile(r"http://([\w.]+)")
b = a.findall(url) #findal은 리스트화 
b[0]

'news.naver.com'

In [8]:
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

tmp = url.split('/')
tmp[2]

'news.naver.com'

# Q5. url에서 쿼리문을 추출하여 출력하세요

In [9]:
# url에서 '?'뒤에 표시되는 문자열을 쿼리 문자열이라고 하며 변수=값 사이 &로 
# 구분되어 나열된다.
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

In [10]:
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'
tmp = url.split('&')
tmp.remove(tmp[0])
tmp

['mid=shm', 'sid1=105', 'oid=028', 'aid=0002334601']

# Q6. 텍스트 파일(mydata.txt)을 읽고  파일의 내용에서 나타나는 문자들에 대해 자주 나타나는 문자들을 아래와 같이 순서대로 출력하세요.
- \[ \] -> [177]회 나타남
- [e] -> [97]회 나타남
- [t] -> [85]회 나타남
   
   
   문장.count(문자)

In [11]:
import re
with open('mydata.txt',"r") as f:
    lines = f.readlines()
ci = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z',' ',"'",'!']

In [12]:
lines[1]

"we've got to live with on our way\n"

In [13]:

import operator
di={}
sum=0
for j in ci:
    for i in range(0, len(lines)):
        sum += lines[i].count(j)
        di[j]=sum
    sum=0          
# dii = sorted(di.values(), reverse=True)
# dii
dii = sorted(di.items(), key=operator.itemgetter(1), reverse=True)
dii

[(' ', 177),
 ('e', 97),
 ('t', 85),
 ('a', 78),
 ('o', 73),
 ('n', 60),
 ('s', 60),
 ('r', 54),
 ('i', 50),
 ('h', 48),
 ('l', 34),
 ('u', 27),
 ('d', 24),
 ('c', 23),
 ('m', 20),
 ('w', 20),
 ('f', 17),
 ('p', 15),
 ('y', 15),
 ('b', 13),
 ('g', 11),
 ('v', 9),
 ("'", 8),
 ('k', 7),
 ('!', 2),
 ('j', 0),
 ('q', 0),
 ('x', 0),
 ('z', 0)]

In [14]:
def getTextFreq(filename):
    with open('mydata.txt',"r") as f:
        text = f.read()
        fa = {}
        for c in text:
            if c in fa:
                fa[c] += 1
            else:
                fa[c] = 1
    return fa
ret = getTextFreq('data/mydata.txt')
ret = sorted(ret.items(),key=lambda x:x[1], reverse=True)
print(ret)
for c, freq in ret:
    if c =='\n':
        continue
    print('[%c] - > [%d]회 나타남' %(c,freq))

[(' ', 177), ('e', 97), ('t', 85), ('a', 78), ('o', 73), ('n', 60), ('s', 60), ('r', 54), ('i', 50), ('h', 48), ('\n', 43), ('l', 34), ('u', 27), ('d', 24), ('c', 23), ('w', 20), ('m', 20), ('f', 17), ('y', 15), ('p', 15), ('b', 13), ('g', 11), ('v', 9), ("'", 8), ('k', 7), ('!', 2)]
[ ] - > [177]회 나타남
[e] - > [97]회 나타남
[t] - > [85]회 나타남
[a] - > [78]회 나타남
[o] - > [73]회 나타남
[n] - > [60]회 나타남
[s] - > [60]회 나타남
[r] - > [54]회 나타남
[i] - > [50]회 나타남
[h] - > [48]회 나타남
[l] - > [34]회 나타남
[u] - > [27]회 나타남
[d] - > [24]회 나타남
[c] - > [23]회 나타남
[w] - > [20]회 나타남
[m] - > [20]회 나타남
[f] - > [17]회 나타남
[y] - > [15]회 나타남
[p] - > [15]회 나타남
[b] - > [13]회 나타남
[g] - > [11]회 나타남
[v] - > [9]회 나타남
['] - > [8]회 나타남
[k] - > [7]회 나타남
[!] - > [2]회 나타남

# Q7. 두개의 수를 입력한 후 두개의 수에 대한 사칙연산을 수행하세요.(0을 입력한 경우 다시 입력하도록 조치)

In [15]:
# class를 만들어서 작성하세요
class Cal4:
    def __init__(self, a, b):
        self.a = a
        self.b = b
    def add(self):
            return self.a+self.b
    def sub(self):
            return self.a-self.b
    def mul(self):
            return self.a*self.b
    def div(self):
            return self.a/self.b
while True:
    a = int(input("첫번째 숫자"))
    b = int(input("두번째 숫자"))
    if b == 0:
        print("0이 아닌 숫자를 입력하세요")
        continue
    else:
        cals = Cal4(a,b)
        print(f"덧셈 : {cals.add()}")
        print(f"뺄셈 : {cals.sub()}")
        print(f"곱셈 : {cals.mul()}")
        print(f"나눗셈 : {cals.div()}")
        break

첫번째 숫자1
두번째 숫자1
덧셈 : 2
뺄셈 : 0
곱셈 : 1
나눗셈 : 1.0

# Q8. Order 클래스를 상속받아 ExtraOrder 클래스에서 메소드 오버라이딩하여 출력가격에 원이 추가되도록 출력하세요

In [16]:
class Order: 
    def __init__(self, name): 
        self.customer = 0 
        self.name = name 
    def order(self, price): 
        self.customer += price 
        return self.customer

order = Order('고갱')

class ExtraOrder(Order):
    def __init__(self, name):
        super().__init__(name)
    def order(self, price):
        super().order(price)
        print(f'{self.name}님의 주문금액은 {self.customer}원 입니다')
order = ExtraOrder('고갱')
order.order(1000)

고갱님의 주문금액은 1000원 입니다

#  Q9. 업무미팅이 2시임을 알려주는 자동 이메일 클래스 AutoEmail을 작성하여 아래와 같이 출력하세요 (미팅이 진행되는 2시에는 업무미팅이 진행중이라는 문구를 추가)

안녕하세요 고갱님. 업무미팅은 2시입니다.

In [17]:
import time
class AutoEmail:
    def __init__(self, name, t):
        self.name = name
        self.t = t
    def alarm(self):
        if time.localtime().tm_hour==self.t:
            print(f"{self.name}님, 업무미팅이 진행중 입니다.")
        else:
            print(f"안녕하세요 {self.name}님, 업무미팅은 {self.t}시 입니다.")
AE= AutoEmail("고갱",9)
AE.alarm()

안녕하세요 고갱님, 업무미팅은 9시 입니다.

0719

# Q10. 정규표현식을 사용하여 text에서 전화번호만 출력하세요.
text = "문의사항이 있으면 032-232-3245로 연락주시기 바랍니다."

In [18]:
import re
text = "문의사항이 있으면 032-232-3245로 연락주시기 바랍니다."
a= re.compile(r'\d+-\d+-\d+')
a.findall(text)
# 서치로 하면 된다는디?

['032-232-3245']

In [19]:
text = "문의사항이 있으면 032-232-3245로 연락주시기 바랍니다."
a= re.compile(r'\d+-\d+-\d+')
a.search(text)

# Q11. 정규표현식을 사용하여 text에서 에러가 들어간 부분만 포함하는 리스트를 출력하세요
text = "에러 1122, 레퍼런스 오류, 에러 1033, 아규머먼트 오류, 에러 xxx"

In [20]:
text = "에러 1122, 레퍼런스 오류, 에러 1033, 아규머먼트 오류, 에러 xxx"
a = re.compile(r"\w{2} [0-9a-z]+")   #\s = 띄어쓰기    \D 숫자 아닌 모든것 문자 기호등..  \d 숫자만  
b = a.findall(text)
b

['에러 1122', '에러 1033', '에러 xxx']

In [21]:
c = re.compile(r"에러 \w+")
d = c.findall(text)
d

['에러 1122', '에러 1033', '에러 xxx']

# Q12. 정규포현식을 사용하여 text에서 지역코드만 출력하세요
text = "문의사항이 있으면 032-232-3245로 연락주시기 바랍니다."

In [22]:
text = "문의사항이 있으면 032-232-3245로 연락주시기 바랍니다."
a = re.compile(r"(\d+)-(\d+)-(\d+)")
b = a.findall(text)
b[0][0]

'032'

In [23]:
text = "문의사항이 있으면 032-232-3245로 연락주시기 바랍니다."
a = re.compile(r"(\d+)-(\d+)-(\d+)")
b = a.search(text)
b.group(1)

'032'

# Q13. 정규표현식을 사용하여 text에서 지역코드를 제외한 번호만 출력하세요.
text = "문의사항이 있으면 032-232-3245로 연락주시기 바랍니다."

In [24]:
text = "문의사항이 있으면 032-232-3245로 연락주시기 바랍니다."
a = re.compile(r"(\d+)-(\d+[-]\d+)")
b = a.findall(text)
b[0][1]

'232-3245'

In [25]:
text = "문의사항이 있으면 032-232-3245로 연락주시기 바랍니다."
a = re.compile(r"(\d+)-(\d+[-]\d+)")
b = a.search(text)
b.group(2)

'232-3245'

# Q14.'abcdefghij' 에 대하여 중첩을 적용한 서브그룹 5개로 컴파일하여 group()함수를 이용하여 'abcdefghi'와 e'를 출력하세요

In [26]:
text = 'abcdefghij'
# a = "((a(b(cd(e)f)gh)i)j)"
a = re.compile(r"((\w(\w(\w{2}(\w)\w)\w{2})\w)\w)")
b = a.search(text)
b
# print(b[0][1], b[0][4])
print(b.group(2), b.group(5))

abcdefghi e

In [27]:
a = re.compile(r"((a(b(cd(e)f)gh)i)j)")
b = a.search(text)
# print(b.group(2), b.group(5))
b.group(2,5)

('abcdefghi', 'e')

# Q15. 위 문제에서 모든 서브 그룹에 대한 문자열을 포함하는 튜플을 출력하세요. finditer? search? match? groups면 됨

In [28]:
b.groups()

('abcdefghij', 'abcdefghi', 'bcdefgh', 'cdef', 'e')

0720

# Q16. 이름으로 그룹을 참조하여 'Lots of punctuation' 에서 Lots를 출력하세요.
그룹에 이름붙여 하는 법?

In [29]:
text = 'Lots of punctuation'
a = re.compile(r"(?P<ff>\w+) \w+ \w+")
b = a.match(text)
b.group('ff')

'Lots'

# Q17. 'Paris is very very beautiful.'에서 'very very'를 출력하세요.

In [30]:
text = 'Paris is very very beautiful.'
a = re.compile(r"\w+ \w+ (\w+ \w+) \w+.")
b = a.match(text)
b.group(1)

'very very'

# Q18. 정규표현식을 작성하여 아래와 같이 출력하세요.
['1 apple', '5 oranges', '3 boys', '4 girls', '10 army', '11 mr']

In [2]:
import re
li = '1 apple, 5 oranges, 3 boys, 4 girls; 10 army| 11 mr'
regex = re.compile(r"\d+ \w+")
lii = regex.findall(li)
print(lii)

['1 apple', '5 oranges', '3 boys', '4 girls', '10 army', '11 mr']

# Q19. text에서 'H,h'만 출력하세요.

In [3]:
text = 'Hello my friend! Life is short you need Python!'
a = re.compile(r"h", re.I)   #IGNORECASE : 대소문자를 구분하지 않음
b = a.findall(text)
b

['H', 'h', 'h']

In [4]:
text = 'Hello my friend! Life is short you need Python!'
a = re.compile(r"[Hh]")
b = a.findall(text)
b

['H', 'h', 'h']

# Q20. text에서 'H,h'가 아닌 것 모두를 출력하세요.

In [6]:
text = 'Hello my friend! Life is short you need Python!'
a = re.compile(r"[^Hh]")
b = a.findall(text)
print(b)

['e', 'l', 'l', 'o', ' ', 'm', 'y', ' ', 'f', 'r', 'i', 'e', 'n', 'd', '!', ' ', 'L', 'i', 'f', 'e', ' ', 'i', 's', ' ', 's', 'o', 'r', 't', ' ', 'y', 'o', 'u', ' ', 'n', 'e', 'e', 'd', ' ', 'P', 'y', 't', 'o', 'n', '!']

0721

# Q21.  'we are going home'에서 home만 출력하세요.

In [8]:
text = 'we are going home'
a = text.split(" ")
a[3]

'home'

# Q22. '199305, 1923A, a93247'에서 '199305'만 출력하세요.

In [10]:
text = '199305, 1923A, a93247'
a = text.split(",")
a[0]

'199305'

# Q23. '12345abc'에서 'abc'만 출력하세요.

In [3]:
import re
text = '12345abc'
text[-3:]

'abc'

In [7]:
a = re.search(r"\D+", text)
a.group()

'abc'

In [13]:
re.sub(r'\D+',"",text)

'12345'

# Q. '12345abc'에서 'a'만 출력하세요.

In [15]:
text = '12345abc'
text[-3]

'a'

In [16]:
a = re.search(r"\D", text)
a.group()

'a'

# Q. 'abc12345Abc'에서 'A'만 출력하세요.

In [17]:
text = 'abc12345Abc'
text[-3]

'A'

In [18]:
a = re.search(r"[A-Z]+", text)
a.group()

'A'

0722

# Q. 'Banker'에서 'anker', 'banker123'에서 'banker'를 출력하세요

In [6]:
import re
text = 'Banker'
a = re.search(r"[a-z]+", text)
print(a.group())
a = re.search(r"[^A-Z]+", text)
print(a.group())
text = 'banker123'
a = re.search(r"[a-z]+", text)
print(a.group())
a = re.search(r"[\D]+", text)
print(a.group())

anker
anker
banker
banker

# Q. 'KOREA 대한민국'에서 '대'만 출력하세요.

In [3]:
text = 'KOREA 대한민국'
a = re.search(r"[가-힣]", text)
a.group()

'대'

# Q. text에서 'aaaaBBBcccDDDeee'을 모두 출력하세요.
text = 'aaaBBccDDeeaaaaBBBcccDDDeeeeeeDDDcccBBBaaaa'

In [6]:
text = 'aaaBBccDDeeaaaaBBBcccDDDeeeeeeDDDcccBBBaaaa'
a = re.search(r"[a]{4}\w{12}", text)
a.group()

'aaaaBBBcccDDDeee'

# Q. 아래의 경우에서 \<html>만 출력하세요

In [8]:
text = '<html><head><title>Title</title></head><body></body></html>'

pattern = re.compile('<.*?>')
#탐욕 논 그리디 써보셈 *?는 모든 것중에 가장 짧은것
# <p>.*</p> 는 <p>asd</p>asd<p>asd</p> 이런식이면 asdasdasd가 출력됨
# <p>.*?</p> 는 <p>asd</p>asd<p>asd</p> 에서 맨앞 asd 만 출력

print(len(text))
p = pattern.search(text)
p.group()

59

'<html>'

# Q. '1234a1234'에서  '1', '2', '3', '4'를 모두 출력하세요.

In [7]:
text = '1234a1234'

a = re.findall(r"\d", text)  # 리스트
# set(a)
a

['1', '2', '3', '4', '1', '2', '3', '4']

0725

# Q.

# Q. text에서 전체문장 모두 출력하세요.

In [1]:
import re
text = "what are you doing?\nit is going to be late for school\nwe need to hurry up"
# regex = re.compile(r'[a-z?\n\s]+')
regex = re.compile('\D+')
mo = regex.search(text)
print(mo.group())

what are you doing?
it is going to be late for school
we need to hurry up

In [2]:
regex = re.compile('.*', re.DOTALL)  # * 는 \n 빼고 다 
mo = regex.search(text)
print(mo.group())

what are you doing?
it is going to be late for school
we need to hurry up

# Q. text에서 대소문자 구분없이 전체문장 모두 출력하세요

In [23]:
text = 'Friend fRiend friEnd FRIEND'
a = re.search('[\w ]+', text)
a.group()

'Friend fRiend friEnd FRIEND'

In [88]:
text = 'Friend fRiend friEnd FRIEND'
a = re.findall('\w', text)
for i in a:
    print(i, end=' ')

F r i e n d f R i e n d f r i E n d F R I E N D

In [89]:
text = 'Friend fRiend friEnd FRIEND'
a = re.findall('\w+', text)
for i in a:
    print(i, end=' ')

Friend fRiend friEnd FRIEND

In [4]:
text = 'Friend fRiend friEnd FRIEND'
regex = re.compile('[a-z]+',re.I)
mo = regex.findall(text)
for i in mo:
    print(i)

Friend
fRiend
friEnd
FRIEND

# Q. 1609160537.371015을 "Sat Jun 26 08:35:03 2021" 포멧으로 출력하세요.

In [25]:
import time
from datetime import datetime
a = 1609160537.371015  # 타임스탬프

f = '%a %b %d %H:%M:%S %Y' # 포맷

        
b = datetime.fromtimestamp(a).strftime(f)  # 타임스탬프a를 f 포맷 스트링으로 변환
b

'Mon Dec 28 22:02:17 2020'

In [7]:
c = datetime.fromtimestamp(a).strftime('%c')
c

'Mon Dec 28 22:02:17 2020'

In [8]:
timestring = time.ctime(a)
timestring

'Mon Dec 28 22:02:17 2020'

ctime() 함수는 주어진 timestamp를 현지 시간대 기준으로 소위 미국에서 흔히 사용되는 요 월 일 시:분:초 년 포멧으로 변환해줍니다. 그냥 간단하게 timestamp가 나타내는 날짜와 시간을 확인해보는 용도로 쓰기에 좋습니다.

In [17]:
a = 1609160537.371015
b = time.strftime(f, time.localtime(a)) # 타임스탬프a를 f 포맷 스트링으로 변환
b

'Mon Dec 28 22:02:17 2020'

# Q. 현재 날짜와 시간을 "Sat Jun 26 08:35:03 2021" 포멧으로 출력하세요.

In [18]:
a = time.localtime() # 현재 시각을 struct_time으로
f = '%a %b %d %H:%M:%S %Y'
b = time.strftime(f, a) # struct_time을 str로
print(b)

Tue Jul 26 00:51:41 2022

In [19]:
a

time.struct_time(tm_year=2022, tm_mon=7, tm_mday=26, tm_hour=0, tm_min=51, tm_sec=41, tm_wday=1, tm_yday=207, tm_isdst=0)

0726

# Q. 현재 시간을 년-월-일 시:분:초로 출력하세요.

In [1]:
import time
t = time.localtime()  # 스트럭쳐 타임
f = '%Y-%m-%d %H:%M:%S'
time.strftime(f, t)

'2022-07-27 08:41:48'

# Q. 현재 시간을 time.time을 불러와서 년-월-일 시:분:초로 출력하세요.

In [2]:
from datetime import datetime
t = time.time()    # 타임 스탬프
f = '%Y-%m-%d %H:%M:%S'
d = datetime.fromtimestamp(t).strftime(f)
d

'2022-07-27 08:41:48'

# Q. 올해 경과된 날짜수 계산하세요

In [3]:

t = time.localtime()
t.tm_yday

208

In [4]:
# 두 날짜간의 일수 구하기
from datetime import datetime
since_timestamp = datetime.strptime('20220101','%Y%m%d')
t = time.time()
until_timestamp = datetime.fromtimestamp(t)

result = until_timestamp - since_timestamp
print(result)

207 days, 8:41:48.950663

# Q. 현재 요일을 "2021-6-26 오늘은 토요일입니다."와 같은 형식으로 출력하세요.

In [6]:
t = datetime.today()
d = datetime.strftime(t, '%Y-%m-%d')
u = datetime.strftime(t, '%u' )
w = t.weekday()
dic = {0:'월',1:'화',2:'수',3:'목',4:'금',5:'토',6:'일'}

print(f'{d} 오늘은 {dic[w]}요일입니다.')

2022-07-27 오늘은 수요일입니다.

In [18]:
import datetime
def get_yoil(y, m, d):
    days = ['월','화','수','목','금','토','일']
    return days[datetime.date(y, m, d).weekday()]
get_yoil(2022,7,27)

'수'

In [20]:
t = datetime.datetime.today()
d = datetime.datetime.strftime(t, '%Y, %m, %d')
# get_yoil(d)
d

'2022, 07, 27'

# Q. 1에서 백만까지 더하는데 걸리는 프로그램 실행 시간을 밀리초(ms) 단위로 구하세요.

In [8]:
# 구글링
start_time = time.perf_counter()

s = 0
for i in range(1,1000001):
    s += i

end_time = time.perf_counter()
print(f"걸린 시간 : {int(round((end_time - start_time) * 1000))}ms")

걸린 시간 : 141ms

In [9]:
s = 0
%time for i in range(1,1000001): s += i

CPU times: total: 141 ms
Wall time: 153 ms